/*
 ******************
 * =Contact Div Styling
 ******************
*/

.mainContentSection article {
	margin: 0 5% 0 5%;
	padding: 50px 0 50px 0;
	border-bottom: 1px solid #d1d1d1;
	color: black;
}

.mainContentSection article:hover {
	color: #333333;
}

.mainContentSection article h1 {
	font-family: Helvetica, sans-serif;
	margin: auto;
	padding-top: 18px;
	padding-bottom: 10px;
}

.mainContentSection article p {
	margin: auto;
}

.mainContentSection article i {
	margin: auto;
}

.description {
	margin-top: 40px;
	text-align: center;
}

/*
 ******************
 * =Contact Icon Styling
 ******************
*/

.icon {
	text-align: center;
}

.iconBig {
	font-size: 15em;
}

/*
 ******************
 * =Modal Dialog Email
 ******************
*/

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 50%;
	min-width: 390px;
	position: relative;
	margin: 20% auto;
	padding: 5px 12px 15px 20px;
	background: white;
	border: 1px solid #d1d1d1;
}

.modalDialog > div i {
	padding-right: 10px;
}

.close {
	padding-top: 5px;
	font-weight: lighter;
}