/*
 ******************
 * =Contact Div Styling
 ******************
*/

.mainContentSection article {
	margin: 0 5% 0 5%;
	padding: 50px 0 50px 0;
	border-bottom: 1px solid #d1d1d1;
	color: black;
}

.mainContentSection article:hover {
	color: #333333;
}

.mainContentSection article h1 {
	font-family: Helvetica, sans-serif;
	margin: auto;
	padding-top: 18px;
	padding-bottom: 10px;
}

.mainContentSection article p {
	margin: auto;
}

.mainContentSection article i {
	margin: auto;
}

.description {
	margin-top: 40px;
	text-align: center;
}

/*
 ******************
 * =Contact Icon Styling
 ******************
*/

.icon {
	text-align: center;
}

.iconBig {
	font-size: 15em;
}

/*
 ******************
 * =Modal Dialog Email
 ******************
*/

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 45%;
	min-width: 390px;
	position: relative;
	margin: 15% auto;
	padding: 5px 12px 15px 20px;
	background: white;
	border: 1px solid black;
}

.modalDialog > div i {
	padding-right: 10px;
}

label {
	font-family: Helvetica, sans-serif;
	font-style: normal;
	font-weight: lighter;
}

form {
	padding-top: 8px;
	padding-left: 15px;
}

form input {
	margin-bottom: 10px;
	display: block;
	font-family: Helvetica, sans-serif;
	border: 1px solid #999999;
	outline: none;
}

form input:focus {
	border: 1.5px solid #3498DB;
}

#message {
	padding: 2px 50% 30% 2px;

}

input[type="submit"] {
	font-weight: lighter;
	margin: auto;
	width: 20%;
	color: black;
	letter-spacing: 2px;
	/*border-radius: 5px;
	background: #2ECC71;
	border: none;*/
	background: white;
	border: 1px solid #2ECC71;
}

input[type="submit"]:hover {
	border: 1px solid #16A085;
	/*background: #27AE60;*/
}

.close {
	padding-top: 5px;
	font-weight: lighter;
	color: red;
}

.close:hover {
	color: red;
}