/*
 ******************
 * =Digital Mosaic
 ******************
*/

.mainContent {
}

#soundcloud {
	padding: 0px;
}

#twitter {
	padding: 0px;
}

.twitter-tweet {
	padding-top: 18px;
	/*margin: 0;*/
	border: none;
}